@import '/src/Styles/variables.scss';

.box__projectjs__container{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    $bg-image-gear;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 800px;
    justify-content: center;
}