@import '/src/Styles/variables.scss';

.box__web__container{
    border: 2px solid $yellow;
    background-color: #262525;
    border-radius: 15px;
    box-shadow: 8px 8px 6px 0px rgba(0,0,0,0.42);
    min-height: 500px;
    max-width: 500px;
    margin: 5px;
    padding: 5px;
    -webkit-box-shadow: 8px 8px 6px 0px rgba(0,0,0,0.42); 
    
    .box__web__image{
        height: 300px;
        overflow-y: scroll;
        width: 100%;

        &::-webkit-scrollbar {
            width: 5px;             
        }
        &::-webkit-scrollbar-thumb {
            background-color: $yellow;
            border-radius: 4px;
        }               
        img{
            height: auto;
            width: 100%;            
        }
    }
    .box__web__description{
        text-align: left;
        padding: 15px;
    }
}