@import '/src/Styles/variables.scss';

.box__web__container{
    border: 2px solid $yellow;
    border-radius: 15px;
    min-height: 500px;
    max-width: 400px;
    margin: 10px;
    padding: 5px;
    
    .box__web__image{
        height: 300px;
        overflow-y: scroll;
        width: 100%;

        &::-webkit-scrollbar {
            width: 5px;             
        }
        &::-webkit-scrollbar-thumb {
            background-color: $yellow;
            border-radius: 4px;
        }               
        img{
            height: auto;
            width: 100%;            
        }
    }
    .box__web__description{
        text-align: left;
        padding: 15px;
    }
}