@import '/src/Styles/variables.scss';
@import "~bootstrap/scss/bootstrap";


body {
  background-color: $background-color;
  color: $white;
}

h2{
    font-family: $font-family-title;
    font-size: 2rem;
}

p{
  font-family: $font-family-subtitle;
}

/*Divisor*/
hr {
  background-color: $yellow; 
  border: none;
}