/**/
$background-color: #333;
$yellow: #f2c94c;
$white: #fff;
$grey: #4f4f4f;

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

$font-family-title: 'Anton', sans-serif;
$font-size-title: 2rem;

$font-family-subtitle: 'Roboto', sans-serif;
$font-size-subtitle: 1.25rem;