/**/
$background-color: #333;
$yellow: #DFAC13;
$white: #fff;
$grey: #4f4f4f;
$dark: #000;

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

$font-family-title: 'Anton', sans-serif;
$font-size-title: 2rem;

$font-family-subtitle: 'Roboto', sans-serif;
$font-size-subtitle: 1.25rem;

$bg-image-contact: url('../img/black-envelope-on-a-black1980-min.jpg');
$bg-image-gear: url('../img/clockwork-cogs-1980-min.jpg');