@import '/src/Styles/variables.scss';

.box__projectjs__container{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    $bg-image-gear;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: auto;
    min-height: 400px;
    justify-content: center;
}

.text__desc{
    background-color: $grey;   
    padding: 15px;
    border-radius: 5px;     
}
.box__project__webs{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 80px 0px 0px 0px;
}


    
