@import '/src/Styles/variables.scss';

.text__desc{
    background-color: $grey;   
    padding: 15px;
    border-radius: 5px;     
}
.box__project__webs{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 80px 0px 0px 0px;
}
.box__project__button__load{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 30px 0;
}


.box__project__games__itchio{
    display: flex;
    flex-flow: column nowrap;
    margin: 100px auto;
    
    iframe{
        width: 100%;
    }
}


    
