@import '/src/Styles/variables.scss';

.div__navmenu__container{
    background-color: $yellow;
    width: 100%;

    // Logo mushroom
    .div__navmenu__logo{
        width: 52px;
        height: auto;
    }

    .div__container__menu{
        margin: 0 64px;
    }

    .nav__item {
        font-weight: bold;
    
        &:hover{
            background-color: $white;
            color: $dark !important;
        }
    }
}