@import '/src/Styles/variables.scss';

.box__navmenu__container{
    background-color: $yellow;
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    align-items: center;

    .box__navmenu__logo{
        width: 30%;
        img{
            max-width: 100%;
            height: 60px;
            padding-left: 15px;        
        }
    }
    .box__navmenu__buttons{
        display: flex;
        flex-direction: row;
        justify-content: right;
        width: 70%;
        ul{
            list-style-type: none;
            padding-right: 10px;
            
            li{
                float: left;

                a{
                    display: block;
                    padding: 16px;
                    font-family: $font-family-subtitle;
                    font-weight: bold;
                    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                }

                :hover{
                    background-color: $white;
                    border-radius: 10px;
                    color: $dark;
                    text-shadow: none;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                }
                
                .navmenu__icon__user{
                    font-size: 18px;
                }
            }
        }
    }
}