@import '/src/Styles/variables.scss';

.box__aboutme{
    .text__desc{
        background-color: $grey;   
        padding: 15px;
        border-radius: 5px;     
    }
    .box__knowledge{

        .box__knowledge__icons{
        
            & img{
                width: 64px;
                cursor: pointer;
                transition: .2s;
            
                &:hover{
                transform: scale(1.4);
                transition: .2s;
                filter: drop-shadow(0px 8px 2px $dark);
                }
            }
        }
    }

}
